body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.container-fluid {
    padding: 0px 50px 5px 50px;
}

footer {
    padding-top: 5px;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 10px;
}

.show960 {
    display: block;
}

.hide960, .show768, .show640, .show480, .show320 {
    display: none;
}

div.sw-special-mode-bar {
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.hidden {
    display: none;
}

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.transition {
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}

.bg {
    /*background: url('images/miller-rainbow.jpg') no-repeat center center;
    background-size: cover;*/
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: -1;
}

.jumbotron {
    margin-bottom: 15px;
    /*text-shadow: black 0.1em 0.1em 0.1em;*/
    background: transparent;
    padding: 75px 25px;
    font-family: Montserrat, sans-serif;
}

.bg, .jumbotron {
    height: 250px; /*change in the paralax.js too!*/
}

.logo-small {
    /*color: #f4511e;*/
    font-size: 50px;
}

.logo {
    /*color: #f4511e;*/
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    align-items: center;
    align-content: center;
    align-self: center;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}


.item span {
    font-style: normal;
}

.panel {
    /*border: 1px solid #f4511e;*/
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    /*border: 1px solid #f4511e;*/
    background-color: #fff !important;
    /*color: #f4511e;*/
}

.panel-heading {
    color: #fff !important;
    /*background-color: #f4511e !important;*/
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    /*background-color: #f4511e;*/
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    /*background-color: #f4511e;*/
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    /*box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);*/
}

.navbar li a, .navbar ul li ul li a{
    color: #000 !important;
}

.navbar .navbar-brand, .navbar ul li a{
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    /*color: #f4511e !important;*/
    background-color: #fff !important;
}


.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.bg-grey {
    background-color: #f6f6f6;
}

.bg-white {
    background-color: white;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    /*color: #f4511e;*/
}

/*set the color theme here*/
:root {
    --main-color: red;
}


footer .glyphicon,
.navbar-nav li a:hover,
.navbar-nav li.active a,
.logo-small,
.logo,
.carousel-control.right,
.carousel-control.left,
.panel-footer .btn:hover,
.jumbotron {
    color: var(--main-color) !important;
}

.carousel-indicators li.active,
.panel-heading,
.panel-footer .btn,
.navbar {
    background-color: var(--main-color) !important;
}

.panel,
.panel-footer .btn:hover {
    border: 1px solid var(--main-color) !important;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@media screen and (max-width: 768px) {


    .col-sm-6 {
        text-align: center;
        margin: 25px 0;
    }
}

@media screen and (max-width: 768px) {

    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .col-sm-5 {
        text-align: right;
        margin: 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

@media screen and (max-width: 420px){
    .row{
        margin: 5px;
    }
    .container-fluid{
        padding: 2.5px;
    }
}

/*.thumbnail:hover{
box-shadow: 1px 1px 50px 1px #888888;
}*/



.news-image {
    border: 1px solid rgb(150, 150, 150);
}

table, th, td {
    border: 1px solid rgb(150, 150, 150);
    border-collapse: collapse;
    padding: 7px;
    transition: background-color 0.25s ease;
}

th:hover, td:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

th th:hover, td td:hover{
    background-color: rgba(0,0,0,0);
}

footer{
    margin: 20px;
}

.subpage_image{
    padding: 2px;
    width: 100%;
}

.auto-scroll{
    overflow-x: auto;
    width: 100%;
}

.faq-question {
    color: rgba(0, 0, 0, 0.95);
    font-size: 1.25em;
}

.faq-answer {
    color: rgba(0, 0, 0, 0.85);
    font-size: 1em;
    margin-bottom: 30px;
}

.footer {
    text-align: center;
}

@media screen and (max-width:640px) {
    /* CSS for screens that are 640 pixels or less will be put in this section */
    
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding: 0px 5px 0px 5px;
    }
    .container-fluid{
        padding: 0px 15px;
    }
    
    .container-fluid .container-fluid{
        padding: 0px 0px;
    }
    
    .row {
        margin: auto;
    }
    
    .bg, .jumbotron {
        height: 300px; /*change in the paralax.js too!*/
    }

}



.indent{
    text-indent: 2em;
}

input[type=text], input[type=tel], input[type=email], input[type=date], input[type=password], select {
    width: 100%;
    padding: 8px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number]{
    width: 100%;
    padding: 4px 16px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 20px;
    resize: none;
}

hr.scroll-anchor {
    border-top: 1px solid rgba(0,0,0,0);
}

/*button[type=submit] {
width: 75%;
background-color: rgb(255,255,255);
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

button[type=submit]:hover {
background-color:rgb(180,180,180);
}*/

